form{
    text-align:center;
    width:60;
    height:70;
    padding:40px;
}
h1{
    color:blue;
    text-align:center;
}
div{
	background-color:teal;
	width:500px;
	height:500px;
	text-align:center;
	padding:15px 25px 15px;
	margin:30px;
	font-family: verdana;
	font-size: 18px;
	font-weight: bold;
}

