                #demo{
                        text-align:center;
                        width:60;
                        height:70;
                        padding:40px;
                }
                h1{
                        color:blue;
                        text-align:center;
                }
