{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pizza Mania</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="../static/css/p0style.css">
      <link rel="stylesheet" href="../static/css/style.css">
    	<link rel="stylesheet" href="../static/css/styling.css">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <header class="head">
	<h1 class="container">Welcome to Pizza Mania</h1>
	<h3  class="container" style="text-align:right">Know Pizza Mania on :</h3>
	<a href="https://www.facebook.com/profile.php?id=100011328984158&ref=bookmarks" target="_blank"><img src="../static/images/fb" alt="facebook" height="50" width="50" style="float:right"></a>
</header>

<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">

          {# Django Home Link / Admin Link / Register Link#}
          <li><a class="navbar-brand" href="{% url 'index' %}">DJANGO</a></li>
          <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
          <li><a class="navbar-link" href="{% url 'basic_app:register' %}">Register</a></li>

          {# Some logic on what to display for last item#}
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a class="navbar-link" href="{% url 'basic_app:user_login' %}">Login</a></li>
          {% endif %}

        </ul>
      </div>
    </nav>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>


  </body>
</html>
